<div class="navbar-lewagon">
  <img class="mt-1" src="https://www.creativefabrica.com/wp-content/uploads/2020/02/13/Celebration-Day-Logo-Graphics-1-103-580x386.jpg" height="30px" width="auto">
  <div class="links">
    <%= link_to 'New Movie', new_movie_path, class: "a-primary" %>
    <%= link_to 'Lists', lists_path, class: "a-primary" %>
  </div>
</div>
<div class="banner d-flex justify-content-around">
  <div class="l d-block">
    <h1>
    Movies
    </h1>
  </div>
</div>

<div class="cont d-flex justify-content-around mt-5">
  <% @movies.each do |movie| %>
    <div class="card d-block" style="width: 18rem;">
      <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <h5 class="card-title">Rating: <%= movie.rating %></h5>
        <a class="lik bg-primary text-white"><%= link_to 'Show', movie %></a>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
