<div class="movie-container col-9 bg-light text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <h1><strong><%= @movie.title %></strong></h1>
  </p>

  <p>
    <img src=<%= @movie.poster_url %> width="500px">
  </p>

  <p>
    <strong>Overview:</strong>
    <%= @movie.overview %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @movie.rating %>
  </p>

  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>
